<!DOCTYPE html>
<html lang="en">
<head>

    <script defer src="../static/script.js"> </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>

</head>
<body style="font-family: Arial">
    <header style = "color:blue; background: lightblue">

        <h1 id="webname">
            Arjun Vasudevan
        </h1>
        <nav class = "intro">
            <a href="../index.html">Home</a> | 
            <a href="cv.html">CV</a> | 
            <a href="contact.html">Contact me</a> | 
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table border=1>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>FWCD</td>
                <td>Attended Fort Worth Country Day for Highschool, participated in the Solar Car Challenge.</td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Current freshman studying Information Systems.</td>
            </tr>
        </tr>
        <tr>
            <td>Projects!</td>
            <td>this website!</td>
        </tr>
        <tr>
            <td>Work Experience</td>
            <td>Software Consultant @ Nirubi Technologies!</td>
        </tr>
        </table>
        <p>
            <a href="../static/resume.pdf" target="_blank" id="resume-pdf">resume (pdf)</a>
        </p>
    </div>
    <footer>
        &copy; 2025 designed & and coded by Arjun Vasudevan
    </footer>
</body>
</html>